fastapi
uvicorn
python-multipart
pydantic
langchain
langgraph
langchain-groq
python-dotenv
requests
shapely
sqlalchemy
psycopg2-binary
numpy
passlib
python-jose[cryptography]
prometheus-fastapi-instrumentator
prometheus-client
sentry-sdk
